.head
{
  width: 100%;
  background-color: gray;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.accueil-container
{
  display: flex;
  align-items: left;
}

body
{
  background-color: black !important;
  color: white !important;
}

.welcome-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

h1
{
  font-size: 100px !important;
}
