.icon {
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
}

.forms {
    top: 45%;
}

.icon.stats {
    top: 55%;
}

.term {
    top: 50%;
}

.game {
    top : 40%;
}

.tournament {
    top: 60%;
}

.custom-modal-stats {
    height: 100% !important;
    width : 100% !important;
}

.profileModal {
    top: 30%;
}

.task-bar-content {
    background-color: transparent;
    display: flex;
	position: relative;
    flex-direction: row;
    align-items: center;
    gap: 0.5%;
    width: 93%;
    height: 4%;
    left: 0%;
    bottom: 0;
    z-index: 1049;
}

.task-bar-content button {
    padding: 0;
    background-color: grey;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    height: 75%;
    bottom: 3%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}

.task-bar-content button.button-on {
    background-color: rgb(163, 163, 163);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.custom-modal, .custom-modal-forms {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    /*width: 50%;
    height: 60%;*/
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.custom-modal.show, .custom-modal-forms.show {
    display: block;
}

.custom-modal.hide, .custom-modal-forms.hide {
    display: none;
}
