
.square {
    cursor: pointer;
    border: 10px solid #000000;
    justify-content: center;
    align-items: center;
    display : flex;
    position: relative;
    height: 800px;
    width: 1800px;
    background-image: url('./utils/background_game.png');
}

.dashed-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    border-left: 2px dashed #000000;
    transform: translateX(-50%);
}
