html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.text-stats {
  margin-top: 10%;
}

.game-home {
  background-color: black;
  background-image: 
    linear-gradient(rgba(0, 0, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(138, 43, 226, 0.2) 1px, transparent 1px),
    radial-gradient(circle, rgba(138, 43, 226, 0.15) 10%, rgba(0, 0, 255, 0.15) 30%, transparent 70%);
  background-size: 50px 50px, 50px 50px, cover;
  background-position: center;
  border: 20px solid rgb(36, 36, 36);
  border-radius: 2px;
  flex-direction: column;
}

@keyframes neon-glow {
  0% { filter: drop-shadow(0 0 5px blueviolet); }
  50% { filter: drop-shadow(0 0 15px blue); }
  100% { filter: drop-shadow(0 0 5px blueviolet); }
}

.game-home .content-wrapper {
  display: flex;
  flex: 1;
  height: 90%;
  animation: neon-glow 1.5s infinite alternate;
}

.game-home .line {
  padding: 12px;
}

.title-home-game {
  position: relative;
  height: 10%;
  display: flex; 
  align-items: center;
  justify-content: center; 
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}

.game-home .content {
  height: 83%;
  margin-top: 8%;
  width: 80%;
  margin-left: 8%;
  padding: 5%;
  border: 10px solid white;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  text-transform: uppercase;
   /*animation: neon-glow 1.5s infinite alternate;*/
}
.game-home .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.game-home .column-right {
  color: white;
}
.game-home .column-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}
.game-home .column-left {
  padding: 10px;
}

.game-home .column-right {
  padding: 10px;
}

.game-home .p-2 {
  height: 30%;
  font-family: 'Press Start 2P', cursive;
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 7%;
}

.game-home .d-flex {
  padding: 3%;
}

.game-home .arrow {
  font-family: 'Arrows', sans-serif;
  font-size: 35px;
  margin-top: 2%;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
  display: flex;

}

.game-home-stats-title {
  /*color: blueviolet !important;*/
  margin-left: 25%;
}

.text-stats .item {
  font-size: 12px;
  margin-left: 4%;
}

@media (max-width: 768px) {
  .game-home {
    height: auto;
    padding: 10px;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .column-left, .column-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .line {
    text-align: center;
  }

  .title-game {
    font-size: 30px;
  }

  .content {
    width: 90%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .title-game {
    font-size: 25px; 
  }
  .arrow {
    font-size: 35px;
  }

  .line {
    font-size: 18px; 
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}

.section-tournament {
  height: 75%;
  margin-top: 5%;
}

.input-code {
  margin-top: 8%;
  width: 33%;
}

.input-players {
  width: 60%;
}

.waiting {
  justify-content: space-around;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(60, 60, 60, 0.438);
  align-items: center;
  z-index: 2; 
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  opacity: 1;
}

.wait_text{
  color:red;
  margin-top: 20%;
  margin-left: 5%;
}