html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.title {
    display: grid;
    justify-content: center;
    color: azure;
}

.button_play {
    margin-left: 1rem;
    margin-top: 10rem;
}

.button_tournement {
    margin-left: 50rem;
    margin-top: 10rem;
}

